application/node_modules
application/public/hot
application/public/storage
application/storage/*.key
application/vendor
application/.vscode
application/.env
application/.phpunit.result.cache
application/npm-debug.log
application/yarn-error.log
application/.editorconfig
application/vscodeproject.code-workspace
.docker/data